* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 1.5rem;
}

.container {
  max-width: 80%;
  min-height: 100vh !important;
  /* Ensure minimum height is the full viewport height */
  margin: 0 auto;
  padding: 20px;
  border-left: 2px solid #A66C64;
  /* Only left border */
  border-right: 2px solid #A66C64;
  /* Only right border */
  box-sizing: border-box;
  /* Include padding in height/width calculations */
}

.section-title-idk {
  margin-bottom: 1rem;
}

.tagungsbericht-link {
  margin-top: 1rem;
}


nav li.active a {
  color: #A66C64;
}

.content-container {
  width: 80%;
  margin: 0 auto;
  /* Center the container horizontally */
}

.content-container p {
  margin-bottom: 1rem;
}

.border-container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 83%;
  transform: translateX(-50%);
  height: 100vh;
  pointer-events: none;
  box-sizing: border-box;
  border-left: 2px solid #7480B2;
  border-right: 2px solid #7480B2;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  /* Anordnung der Kinder in Spalten */
  align-items: center;
  /* Zentriert den Inhalt horizontal */
  text-align: center;
  /* Zentriert den Text innerhalb der Spalte */
  font-size: 2.3rem;
  margin: 20px;
  /* Optional: Abstand um die Logo-Box */
}

.logo-image {
  margin-top: 10px;
  /* Abstand zwischen Text und Bild */
  max-width: 200px;
  /* Optional: Größe des Bildes */
  height: auto;
  /* Automatische Höhenanpassung */
}

nav {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 3em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
}

main {
  text-align: center;
  margin-bottom: 20px;
}
